.video::-webkit-media-controls,
.video::-moz-media-controls,
.video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video::-webkit-media-controls-panel,
.video::-webkit-media-controls-panel-container,
.video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
