@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "M XiangHe Hei TC W40 Book";
  src: url("../public/fonts/cn/1550f6de-fef5-4c44-b340-fce51a46d38e.woff")
      format("woff"),
    url("../public/fonts/cn/92b93fd2-fbe9-4351-96a5-c907bb4a1a87.woff2")
      format("woff2");
}
@font-face {
  font-family: "EduDiatype";
  src: url("../public/fonts/en/EduDiatype-Light.woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "EduDiatype";
  src: url("../public/fonts/en/EduDiatype-LightItalic.woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "EduDiatype";
  src: url("../public/fonts/en/EduDiatype-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EduDiatype";
  src: url("../public/fonts/en/EduDiatype-RegularItalic.woff2");
  font-weight: normal;
  font-style: italic;
}
:root {
  --main-color: #c89c6c;
  --secondary-color: #6f6f6f;
  --third-color: #262626;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.cn {
  font-family: "M XiangHe Hei TC W40 Book", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
.en {
  font-family: "EduDiatype", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* slider */
.splide__arrows.splide__arrows--ltr {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  transform: translateY(-50%);
}

.splide_pagination.splide_pagination--ltr {
  display: none;
}

.splide.is-initialized {
  height: 100%;
}
.splide__track {
  height: 100%;
}

.splide__list {
  height: 100%;
}

.splide__slide {
  height: 100%;
}
